{% extends ':Email:baseEmail.html.twig' %}
{% block content %}
    <h2>{{ 'app.email.contact.default_subject' | trans }}:</h2>
    <p>{{ 'app.email.contact.from_email' | trans }}: {{ contact.email }}</p>
    <p>{{ 'app.email.contact.title' | trans }}: {{ contact.title }}</p>
    <p>{{ 'app.email.contact.content' | trans }}: {{ contact.content }}</p>
{% endblock %}